.benefits{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, #09080e, #171522);
    padding-bottom: 100px;
    padding-top: 100px;
}

.benefits h2 {
    text-align: center;
}

.benefitsTitle {
    font-size: 2em;
    font-weight: 400;
    color: white;
}

.benefits p {
    color: white;
    padding-top: 20px;
    font-size: 1em;
}