/*    background:
                linear-gradient(180deg, #1a1826, #413b5e);
                linear-gradient(180deg, #09080e, #171522);*/

.home {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #09080e, #171522);
    padding: 20px 20px 200px;
    align-items: center;
    padding-top: 50px;
}

.titleContainer {
    padding-top: 80px;
}

.home p {
    color: white;
    font-size: 2.5em;
}

.callToAction {
    font-size: 1.3em;
    color: white;
    background: none;
    border: 3px solid rgb(239, 61, 255);
    padding: 10px;
    transition: 0.5s;
}

.callToAction:hover {
    padding: 15px;
    cursor: pointer;
}

.ctaContainer {
    margin-top: 40px;
}

@media (min-width: 800px) {
    .home {
        padding-top: 10px;
    }}